<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Focused - WeBlocker</title>
    <link rel="shortcut icon" href="../assets/images/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/flowbite.min.css">
</head>

<body class="bg-gray-200 min-h-screen flex items-center justify-center p-8">
    <div class="max-w-lg mt-14 text-center w-full">
        <div class="mb-8 flex justify-center">
            <div class="relative">
                <div class="rounded-md flex items-center justify-center">
                    <img src="../assets/images/icons/icon128.png" alt="WeBlocker Logo" class="w-20 h-20">
                </div>
                <div class="absolute -top-4 left-1/2 transform -translate-x-1/2">
                    <div class="w-8 h-8 border-4 border-gray-800 rounded-t-full border-b-0"></div>
                </div>
            </div>
        </div>

        <h1 class="text-3xl font-bold text-gray-900 mb-2">This page has been blocked</h1>

        <div class="text-gray-700 text-base leading-relaxed mb-20 space-y-2">
            <p class="font-medium">... because it contains a restricted domain/keyword.</p>
        </div>

        <div
            class="leading-relaxed mt-14 p-4 space-y-2 text-base text-gray-700 border border-2 border-dashed border-gray-500">
            <p class="font-medium">Take a moment to reflect on your digital habits. Consider engaging in activities that
                align with your long-term goals.</p>
        </div>

        <div class="bottom-2 fixed left-1/2 transform -translate-x-1/2">
            <p class="font-bold text-gray-600 text-sm">
                <svg class="w-6 h-6 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M12 12h7c-.53 4.11-3.28 7.78-7 8.92zH5V6.3l7-3.11M12 1L3 5v6c0 5.55 3.84 10.73 9 12c5.16-1.27 9-6.45 9-12V5z" />
                </svg>
                Protected by WeBlocker
            </p>
        </div>
    </div>
</body>

</html>