body {
  font-family: "Inter", sans-serif;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.nav-btn.active {
  background-color: #007b2a;
  color: #fff;
}

.animate-ping {
  animation: var(--animate-ping);

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
